/* GENERAL */
body{
    min-height: 100vh;
    background: linear-gradient(45deg, #e66465, 25%, #6a08a3);
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top:35px;
}


/* LAYOUT */
.box{
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 1px;
}